<%= form_for @admin, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @admin.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h4><%= pluralize(@admin.errors.count, "error") %> prohibited this album from being saved:</h4>

          <ul>
            <% @admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label :nick, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nick, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admins_path, :class => 'btn' %>
    </div>
<% end %>
